
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları Sayfası</h1>

<div>
    <br />
    <a class="btn btn-primary" href="/Pdf/StaticPdfReport/">Statik Pdf Raporu</a>
    <br />
    <br />
    <a class="btn btn-primary" href="/Pdf/StaticCustomerReport/">Statik Misafir Pdf Raporu</a>

</div>