
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları</h1>
<div>
    <br />
    <a class="btn btn-primary" href="/Excel/StaticExcelReport/">Statik Excel Raporu</a><br />
    <br />
    <a class="btn btn-primary" href="/Excel/DestinationExcelReport/">Tur Rotaları Excel Raporu</a>

</div>

