
@{
    ViewData["Title"] = "GetCityId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Şehir Id Bilgisi</h2>
<br />
<br />

<form method="post">
   <label>Şehir adını giriniz</label>
    <input  type="text" class="form-control" name="p"/>
    <br />
    <button class="btn btn-primary">Şehir Id Getir</button>
</form>

