@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<div class="card">
    <h5 class="card-header">Tur Rotaları</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th> Şehir</th>
                    <th>Fiyat</th>
                    <th>Kapasite</th>
                    <th>Sitede Gör</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {


                <tr>
                    @{ sayac = sayac + 1;}
                    <td>@sayac</td>
                    <td> <strong>@item.City</strong></td>
                    <td>@item.Price</td>
                    <td>
                        @item.Capactiy
                    </td>
                    <td><a class="badge bg-label-primary me-1" href="/Destination/Details/@item.DestinationId">Sitede Gör</a></td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Admin/Destination/UpdateDestination/@item.DestinationId"><i class="bx bx-edit-alt me-1"></i> Güncelle</a>
                                <a class="dropdown-item" href="/Admin/Destination/DeleteDestination/@item.DestinationId"><i class="bx bx-trash me-1"></i> Sil</a>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <br />
    <a class="btn btn-primary" href="/Admin/Destination/AddDestination/">Yeni Tur Rotası Oluştur</a>

</div>

